:root {
  --usa-base-lightest: var(--gray-5);
  --usa-primary: var(--blue-vivid-60);
  --usa-primary-dark: var(--blue-warm-vivid-70);

  --theme-link-color: var(--usa-primary);
  --theme-link-hover-color: var(--usa-primary-dark);
}
